

body {
    background-image: url(../img/evening_tao.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
    font-size: xx-large;
    
}

.flex-container{
    display: flex;
    justify-content: right;
}

.lineaAmarilla{
    border-bottom: 15px solid yellow;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: aliceblue;
}

.flex-container>div{
    text-align: center;
    
    margin: 10px;
    margin-top: 50px;
}